@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">You do not have access to this resource.</p>

                </div>
            </div>
        </div>
    </div>

</div>
