<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Transaksi</h5>
                        <p class="m-b-0">Permintaan Barang</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="page-footer-title text-right">
                        <h4 class="m-b-0"><a href="/" class="text-white">Help</a> </h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action=""> <i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Category" asp-action="">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>List Permintaan Barang</h5>
                                    <div class="nav-item nav-grid">
                                        <div class="tool-box">
                                           
                                       
                                            <div class="nav-item nav-grid">
                                              
                                                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10 f-left" onclick="ValAdd()" data-toggle="tooltip" data-placement="top" title="tambah data">
                                                    <i class="icofont icofont-plus m-r-5"></i>
                                                </button>                                              
                                             
                                                <a type="button" class="btn btn-sm btn-primary waves-effect waves-light" asp-action="ListView" data-toggle="tooltip" data-placement="top" title="list view">
                                                    <i class="icofont icofont-listine-dots"></i>
                                                </a>
                                                <span class="f-left m-r-5 text-inverse">View Mode:  &nbsp;&nbsp;&nbsp</span>


                                            </div>
                                           
                                        
                                        </div>

                                    </div>                              

                                </div>
                                <div class="card-block">

                                    <div class="dt-responsive table-responsive">
                                        <table id="tblData" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No Transaksi</th>
                                                    <th>Nama Proyek</th>
                                                    <th>Tanggal Permintaan</th>
                                                    <th>Keterangan</th>
                                                    <th>Status</th>
                                                    <th style="min-width:10px"></th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- Page body end -->
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script src="~/js/index_request_item2.js"></script>
}